@using DataAccessors.Entity
@model IEnumerable<Person>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="table-responsive">
    <form action="/Person/Delete" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Date of birth</th>
                    <th>Delete</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td> @p.Id </td>
                        <td> @p.Name </td>
                        <td> @p.LastName </td>
                        <td> @p.DayOfBirth.ToString("d MMM yyyy") </td>
                        <td>
                            <button type="submit" class="btn btn-xs btn-danger" name="id" value="@p.Id">Delete</button>
                        </td>
                        <td>
                            <a href="/Person/Details/@p.Id" class="btn btn-xs btn-outline" role="button">Details</a>
                        </td>
                    </tr>
                }              
            </tbody>
        </table>

        @Html.Partial("_CaptchaPartial")

    </form>
</div>
<div class="col-sm-4">
    <h3>Insert person</h3>
    <a href="/Person/Create" class="btn btn-lg btn-outline" role="button">Create person</a>
</div>
